/**********************************
* IMPORTS
***********************************/
@import 'variables';
@import 'mixins';
@import 'typography';


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* SCROLLBAR CUSTOMIZATION */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--pri-100);
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

// a, select, button, input{
//     &:focus{
//         outline: 2px solid var(--pri-200);
//     }
// }
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/**********************************
* GLOBAL
***********************************/
// .get-in-touch {
//     margin-bottom: 159px;
//     @media @min1024 {
//         margin-bottom: 202px;
//     }
//     span a {
//         .custom-btn();
//         margin: 0 auto;
//         margin-top: 22px;
//     }
//     h1 {
//         margin-bottom: 19px;
//     }
//     .social {
//         margin-top: 58px;
//         a {
//             margin: 0 14.5px;
//         }
//     }
// }

// .current-menu-item:first-of-type a {
//     color: var(--black) !important;
// }
// .current-menu-item a {
//     color: var(--pri-500) !important;
// }
#return-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: var(--pri-100);
    width: 40px;
    height: 40px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid var(--pri-100);
    z-index: 9;

    &:hover {
        opacity: .7;
    }
}

#return-to-top i {
    margin: 0;
    position: relative;
    left: 13px;
    top: -11px; //may need to be adjusted
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 11px solid var(--pri-400);

}

#content {
    margin: 0;
}

.grecaptcha-badge {
    opacity: 0 !important;
}

.error404 {
    .error-block {
        padding-bottom: 50px;

        h1 {
            color: var(--neu-500);
            .font-size(180, 80);
            text-shadow:
                1px 1px 1px var(--neu-100),
                2px 2px 1px var(--neu-100),
                3px 3px 1px var(--neu-100),
                4px 4px 1px var(--neu-100),
                5px 5px 1px var(--neu-100),
                6px 6px 1px var(--neu-100),
                7px 7px 1px var(--neu-100),
                8px 8px 1px var(--neu-100),
                25px 25px 8px rgba(0, 0, 0, 0.2);
        }

        h3 {
            color: var(--neu-100);
        }

    }

    .back-home {
        .custom-btn();
        max-width: max-content;
        margin: auto;
        margin-top: 40px;
        width: 100%;
        display: block;
    }
}

.hidden {
    overflow-y: hidden;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 -20px 13px 4px rgba(0, 0, 0, 11%);
}

html,
body {
    scroll-behavior: smooth;
}

.button_container {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    height: 27px;
    width: 32px;
    cursor: pointer;
    z-index: 500;
    transition: all .25s ease;

    &:hover {
        span {
            background: var(--pri-400);
        }

        &.active {
            span {
                background: var(--pri-400);
            }
        }
    }

    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: var(--white);
        }

        .middle {
            opacity: 0;
            background: var(--white);
            width: 100%;
        }

        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: var(--white);
            width: 100%;
        }
    }

    span {
        background: var(--white);
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;


        &:nth-of-type(2) {
            top: 11px;
        }

        &:nth-of-type(3) {
            top: 22px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .button_container {
        display: none;
    }
}

// for menu sliding from right to left instead of top to bottom
// change these settings
/*
    .overlay{
        width: 0%;
        height: 100%;
        right:0; instead of left:0
        &.open{
            width: 100%
        }
    }
*/

.form-modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s ease-in-out, visibility .35s ease-in-out;
    overflow: auto;
    z-index: 1400;
    content-visibility: auto;

    .site-logo {
        // margin-left: 20px;
        margin-top: 30px;
        .padding-lr();
    }

    &.open {
        opacity: 1;
        visibility: visible;
    }

    .container {
        max-width: 600px;
        .margin-tb();
        border-radius: 16px;
        .light-bg();
        padding: var(--space-sm);

        @media @min768 {
            padding: var(--space-md);
        }

        .form-container {
            h2 {
                margin-bottom: var(--space-48);
            }
        }
    }
}

.overlay {
    position: fixed;
    background: var(--neu-100);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: auto;
    z-index: 400;
    content-visibility: auto;

    .site-logo {
        // margin-left: 20px;
        margin-top: 30px;
        .padding-lr();
    }

    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .40s;
            }

            &:nth-of-type(3) {
                animation-delay: .45s;
            }

            &:nth-of-type(4) {
                animation-delay: .50s;
            }

            &:nth-of-type(5) {
                animation-delay: .55s;
            }

            &:nth-of-type(6) {
                animation-delay: .60s;
            }

            &:nth-of-type(7) {
                animation-delay: .65s;
            }

            &:nth-of-type(8) {
                animation-delay: .70s;
            }

            &:nth-of-type(9) {
                animation-delay: .75s;
            }
        }
    }

    .overlay-nav-main {
        margin-block-start: var(--space-40);
        width: 100%;
        overflow: hidden;

        .overlay-menu {
            position: relative;
            text-align: left;
            width: 100%;
            overflow: hidden;
        }

        ul.menu-level {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: block;
            position: relative;
            height: auto;
            width: 100%;

            >li {
                display: block;
                position: relative;
                opacity: 0;
                margin: 0;
                animation: none;
                width: 100%;

                >a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    padding: 16px 0;
                    color: var(--white);
                    text-decoration: none;
                    overflow: hidden;
                    font-size: 18px;
                    line-height: 26px;
                    text-transform: none;
                    margin-top: 0px;
                    font-weight: 700;
                    margin-bottom: 0;
                    font-family: var(--font-primary);

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.form-placeholder {
    color: var(--neu-400) !important;
    opacity: 1 !important;
    font-weight: 400 !important;
    font-family: var(--font-secondary) !important;
    font-size: 14px !important;
}

.gform_heading {
    display: none !important;
}

.gform_body div.gform_fields {
    row-gap: var(--space-sm) !important;
    column-gap: var(--space-20) !important;
}

#field_1_32 {
    legend {
        display: none !important;
    }

    label {
        color: var(--neu-300) !important;
        font-family: var(--font-secondary) !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 20px !important;
    }
}

form {
    .gfield_label {
        font-size: 14px !important;
        font-family: var(--font-secondary) !important;
        font-weight: 400 !important;
        color: var(--neu-300) !important;
        margin-bottom: 6px !important;
    }

    textarea {
        height: 80px !important;
    }

    .submit-btn {
        .submit-btn() !important;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea,
    select {
        padding: 12px 16px !important;
        border: 1px solid var(--white) !important;
        width: 100% !important;
        font-family: var(--font-primary) !important;
        font-size: 14px !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        border-radius: 8px !important;
        color: var(--neu-100) !important;
        box-sizing: border-box !important;

        &:focus {
            outline: 1px solid var(--pri-100) !important;
        }
    }

    input[type="checkbox"]{
        border: 2px solid var(--neu-400) !important;
        border-radius: 4px !important;
        cursor: pointer;
        &:checked{
            background-color: var(--neu-400) !important;
            &::before{
                color: var(--white) !important;
            }
        }
        &:focus{
            outline: 1px solid var(--neu-100) !important;
        }
    }

    select {
        background: url("/wp-content/themes/themename/static/images/drop-down.svg") no-repeat;
        background-size: 12px;
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
        background-color: var(--white);
    }

    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
        /* WebKit browsers */
        .form-placeholder();
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.transform {
    transform: scaleX(-1);
}

div {
    box-sizing: border-box;
}


.custom-btn {
    background-color: var(--sec-300);
    border: 2px solid var(--sec-300);
    padding: 8px 24px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease-in-out;
    font-family: var(--font-primary);
    .font-size(18, 16);
    .lh(30px, 24px);
    color: var(--white);
    border-radius: 8px;
    .center();
    text-decoration: none !important;

    @media @min992 {
        font-weight: 700;
    }

    &:hover {
        background-color: transparent;
        color: var(--white);
        background-color: var(--sec-200);
        border-color: var(--sec-200);
        opacity: 1;
    }

    &:focus {
        outline: 2px solid var(--sec-400);
        outline-offset: 3px;
    }

    &:active {
        background-color: var(--sec-100);
        border-color: var(--sec-100);
    }
}

.primary-btn {
    .custom-btn();
    background-color: var(--pri-300);
    border: 2px solid var(--pri-300);

    &:hover {
        background-color: transparent;
        background-color: var(--pri-200);
        border-color: var(--pri-200);
    }

    &:focus {
        outline: 2px solid var(--pri-400);
        outline-offset: 3px;
    }

    &:active {
        background-color: var(--pri-100);
        border-color: var(--pri-100);
    }
}



.phone-btn {
    .custom-btn();
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    svg {
        path {
            fill: transparent;
            stroke: var(--white);
        }
    }
}

.submit-btn {
    .phone-btn();
    background-color: var(--neu-100);
    border: 2px solid var(--neu-100);
    display: flex !important;
    width: 100%;

    &:hover {
        background-color: transparent;
        background-color: var(--neu-300);
        border-color: var(--neu-300);
    }

    &:focus {
        outline: 2px solid var(--neu-300);
        outline-offset: 3px;
    }

    &:active {
        background-color: var(--black);
        border-color: var(--black);
    }
}

img {
    height: auto;
}

.img-responsive {
    display: block;
    width: 100%;
}

.ratio(@ratio) {
    aspect-ratio: @ratio;
    object-fit: cover;
}


/**********************************
* HEADER
***********************************/

header {
    padding: 6px 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 500;

    &.fixed-header {
        background-color: rgba(0, 0, 0, 0.6); // change according to header
        backdrop-filter: blur(5px);
        position: fixed;
        padding-block: 0px;

        .site-logo {
            svg {
                transform: scale(0.8);
            }
        }

    }

    &.overlay-header {
        background-color: var(--neu-100);
        backdrop-filter: none;

        .cta {
            opacity: 0;
            visibility: hidden;
        }
    }

    .wrapper {
        .menu-alignment();
        justify-content: space-between;
        position: relative;
    }

    .cta {
        @media @max768 {
            display: none;
        }

        @media @max1024 {
            flex: 1;
            text-align: end;
        }
    }
}

.site-logo {
    display: inline-block;
    width: 100px;
    margin-bottom: 0;
    position: relative;
    z-index: 65;

    svg {
        width: 100%;
        display: block;
        height: auto;
        transition: all 0.3s ease-in-out;
    }
}

.nav-main {
    display: none;

    @media @min1024 {
        display: inline-block;
    }

    // ==========================================
    // MAIN NAVIGATION
    // ==========================================
    >ul {
        .menu-alignment();

        >li {
            display: inline-block;
            position: relative;
            cursor: pointer;

            // ==========================================
            // FIRST DROPDOWN
            // ==========================================
            >ul {
                position: absolute;
                top: 100%;
                left: -10%;
                // transform: translateX(-50%);
                width: 310px;
                .dark();
                border-radius: 2%;
                padding: 0;
                margin-top: 15px;
                max-height: 0;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                transition:
                    width 0.35s ease,
                    max-height 0.4s ease,
                    opacity 0.3s ease,
                    visibility 0.3s ease,
                    padding 0.3s ease;

                // ==========================================
                // FIRST LEVEL ITEMS
                // ==========================================
                >li {
                    display: block;
                    width: 100%;
                    position: relative;

                    >a {
                        display: block;
                        width: 100%;
                        padding: 16px 40px;
                        color: var(--white);
                        font-family: var(--font-primary);
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 30px;
                        transition: color 0.2s ease;

                        &:hover {
                            color: var(--pri-400);
                        }
                    }

                    // ======================================
                    // SUB-SUB MENU
                    // ======================================
                    >ul {
                        display: none;
                    }

                    // ======================================
                    // WHEN ITEM HAS CHILDREN
                    // ======================================
                    &.has-children {
                        >a {
                            position: relative;
                        }
                    }
                }
            }

            // ==========================================
            // MAIN NAV LINK
            // ==========================================
            >a {
                color: var(--white);
                font-family: var(--font-primary);
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                transition: color 0.2s ease;

                &:hover {
                    color: var(--pri-400);
                }
            }

            // ==========================================
            // OPEN FIRST DROPDOWN
            // ==========================================
            &:hover {
                >a {
                    color: var(--pri-400);
                }

                >ul {
                    max-height: 1000px;
                    opacity: 1;
                    visibility: visible;
                    padding: 24px 0px;
                    box-sizing: border-box;
                }
            }

            // ==========================================
            // EXPAND DROPDOWN WHEN CHILDREN ARE HOVERED
            // ==========================================
            &:has(> ul > li.has-children:hover) {
                >ul {
                    width: 770px;
                }
            }

            // ==========================================
            // EXPANDED SUBMENU CONTENT
            // ==========================================
            &:has(> ul > li.has-children:hover) {
                >ul {
                    >li.has-children {
                        >ul {
                            display: grid;
                            grid-template-columns: 1fr;
                            // grid-auto-flow: row;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: calc(100% - 335px);
                            // height: 100%;
                            padding: 25px 30px;
                            margin: 0;
                            border-left: 1px solid rgba(255, 255, 255, 0.25);
                            gap: 0 30px;
                            align-content: start;

                            // overflow-y: auto;
                            >li {
                                display: block;
                                width: 100%;

                                >a {
                                    display: block;
                                    padding: 14px 0;
                                    color: var(--white);
                                    font-family: var(--font-primary);
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 28px;
                                    transition: color 0.2s ease;

                                    &:hover {
                                        color: var(--pri-400);
                                    }
                                }
                            }
                        }

                        // Highlight Locations
                        >a {
                            color: var(--pri-400);
                        }
                    }

                    // 7–12 submenu items
                    >li.has-children.submenu-2-columns {
                        >ul {
                            grid-template-columns: repeat(2, minmax(0, 1fr));
                        }
                    }

                    // 13+ submenu items
                    >li.has-children.submenu-3-columns {
                        >ul {
                            grid-template-columns: repeat(3, minmax(0, 1fr));
                        }
                    }
                }
            }
        }
    }
}

/**********************************
* HERO
***********************************/
.hero {
    position: relative;
    height: 100svh;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    @media @min992 {
        height: 800px;
    }

    img {
        height: 100svh;
        object-fit: cover;
        object-position: right;

        @media @min992 {
            height: 800px;
            min-height: 100%;
        }
    }

    .wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 100%;
        .padding-lr();

        .container {

            .text-content {
                max-width: 630px;
                width: 100%;

                .content {
                    margin-top: var(--space-sm);
                }

                .cta {
                    margin-top: var(--space-md);
                }
            }
        }
    }
}


/**********************************
* COMMON CODE
***********************************/
.our-credentails-section {
    .container {
        .slider-container {
            .logo-slider {
                position: relative;

                .item-list {
                    margin-inline: var(--space-20);

                    img {
                        width: auto !important;
                        margin-inline: auto;
                    }
                }

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 20%;
                    height: auto;
                    display: block;
                    z-index: 5;
                }

                &::before {
                    left: 0;
                    background: linear-gradient(90deg, #F0F1F2 0%, rgba(240, 241, 242, 0.00) 100%);
                }

                &::after {
                    right: 0;
                    background: linear-gradient(270deg, #F0F1F2 0%, rgba(240, 241, 242, 0.00) 100%);

                }
            }
        }
    }
}

.section-trust {
    .container {
        .display-flex(flex, var(--space-sm), column, flex-start);

        @media @min1024 {
            flex-direction: row;
            justify-content: space-between;
            gap: var(--space-80);
        }

        .left-content {
            @media @min1024 {
                .width(343px);
            }
        }

        .right-content {
            .line {
                display: block;
                width: 100%;
                height: 1px;
                background-color: var(--neu-500);
                margin-block: var(--space-40);
            }

            .numbers {
                .grid(2);
                gap: var(--space-md);

                @media @min1200 {
                    .grid(4);
                }
            }
        }
    }
}

.section-cta {
    position: relative;

    .img-content {
        height: 510px;

        @media @min768 {
            height: 450px;
        }

        img {
            height: 510px;
            object-fit: cover;
            object-position: center;

            @media @min768 {
                height: 450px;
            }
        }
    }

    .text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;

        .text-container {
            .width(670px, auto);
            display: flex;
            flex-direction: column;
            align-items: center;

            .content {
                margin-block: var(--space-sm) var(--space-md);
            }
        }
    }
}

/**********************************
* FOOTER
***********************************/

footer {
    #contact {
        .padding-lr();
    }

    .contact-info {
        .display-flex(flex, var(--space-40), column, center);
        justify-content: space-between;

        @media @min768 {
            flex-direction: row;
            gap: var(--space-24);
            align-items: flex-start;
        }

        .logo {
            @media @min768 {
                flex: 1;
            }

            .display-flex(flex, 28px, column, center);

            .social-media {
                display: flex;
                flex-direction: row;
                gap: var(--space-sm);
                align-items: center;

                svg {
                    transition: all .3s ease-in-out;

                    path {
                        transition: all .3s ease-in-out;
                        fill: var(--white);
                    }
                }

                a {
                    &:hover {
                        svg {
                            path {
                                fill: var(--pri-400);
                            }
                        }
                    }
                }
            }
        }

        .location-menu-details {
            .display-flex(flex, var(--space-40), column, flex-start);
            justify-content: space-between;

            @media @min768 {
                flex: 2;
            }

            @media @min992 {
                flex-direction: row;
                flex: 3;
            }
        }

        .location-details {
            flex: 1;

            @media @max768 {
                text-align: center;
            }

            .wrapper {
                .details {
                    margin-top: var(--space-sm);

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        .footer-menu {
            display: none;
            flex: 2;

            @media @min768 {
                .display-flex(flex, var(--space-24), row, flex-start);
                justify-content: space-between;
                width: 100%;
            }

            .min-pages-menu,
            .services-menu {
                flex: 1;

                nav {
                    margin-top: var(--space-sm);

                    ul {
                        list-style: none;
                        .display-flex(flex, var(--space-xs), column, flex-start);

                        li {
                            a {
                                color: var(--white);

                                &:hover {
                                    color: var(--pri-400);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        padding-block: var(--space-24);
        border-top: 1px solid var(--neu-300);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: var(--space-12);

        @media @max768 {
            flex-direction: column;
            justify-content: center;
        }

        span,
        a {
            font-size: 14px;
            width: auto;
            margin: 0;
            color: var(--white);
        }

        a {
            &:hover {
                color: var(--pri-400);
            }
        }

        .site-by a {
            color: var(--pri-400) !important;
        }

        .copyright-text {
            display: inline-block;
        }

        .right-content {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: var(--space-12);

            img {
                height: 6px;
                aspect-ratio: 1/1;
            }
        }

        span:nth-of-type(2) {
            display: block;
            margin-bottom: 0;
            display: inline-block;
        }
    }
}