// ========================================================================== //
// Max-widths
// ========================================================================== //
.width(@width) {
  // example: 1920px
  max-width: @width;
  width: 100%;
}

.width(@width, @margin) {
  // example: 1920px
  max-width: @width;
  width: 100%;
  margin-inline: @margin; //ex: auto
}

.container {
  max-width: var(--content-width);
  width: 100%;
  margin-inline: auto;
}

// ========================================================================== //
// Grid
// ========================================================================== //
.grid {
  display: grid;
}

.grid(1) {
  display: grid;
  grid-template-columns: 100%;
}

.grid(@columns) {
  display: grid;
  grid-template-columns: repeat(@columns, minmax(0, 1fr));
}

// ========================================================================== //
// paddings
// ========================================================================== //
.padding-lr {
  padding-inline: 16px;

  @media @min992 {
    padding-inline: 48px;
  }

  @media @min1280 {
    padding-inline: 80px;
  }
}

.padding-tb {
  padding-block: 60px;

  @media @min992 {
    padding-block: 80px;
  }

  @media @min1280 {
    padding-block: 100px;
  }
}

.padding-tb(@mobile, @desktop) {
  padding-block: @mobile;

  @media @min1024 {
    padding-block: @desktop;
  }
}

.padding {
  .padding-lr();
  .padding-tb();
}

.padding-top {
  padding-top: 60px;

  @media @min992 {
    padding-top: 80px;
  }

  @media @min1280 {
    padding-top: 100px;
  }
}

// ========================================================================== //
// margins
// ========================================================================== //
.margin-lr {
  margin-inline: 16px;

  @media @min992 {
    margin-inline: 48px;
  }

  @media @min1280 {
    margin-block: 80px;
  }
}

.margin-tb {
  margin-block: 60px;

  @media @min992 {
    margin-block: 80px;
  }

  @media @min1280 {
    margin-block: 100px;
  }
}
.section-small-top{
  margin-top: var(--space-md);
}
.section-medium-top{
  margin-top: var(--space-48);
}
// .section.large-top{
//   margin-top: var(--space-lg);
// }
// ========================================================================== //
// Flex
// ========================================================================== //
.display-flex(@flex, @gap, @dir, @align) {
  display: @flex;
  gap: @gap;
  flex-direction: @dir;
  align-items: @align;
}

// ========================================================================== //
// Grid
// ========================================================================== //
.display-2-1(@gap, @row-gap) {
  display: grid;
  .grid(1);
  row-gap: @row-gap;

  @media @min1024 {
    .grid(2);
    gap: @gap;
  }
}

// ========================================================================== //
// menu
// ========================================================================== //

.menu-alignment {
  display: flex;
  gap: calc(2.5 * var(--space-unit));
  ;
  align-items: center;
}

iframe {
  .img-responsive();
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 100%;
}

.content {
  p:not(:first-child) {
    margin-top: var(--space-sm);

    @media @min992 {
      margin-top: var(--space-24);
    }
  }
}
